<title>Sinatra Cookbook</title>

<h3>Sinatra Cookbook</h3>
<hr>
<% @controller.list.each do |x| %>
<p><a href="<%x.name%>"><%=x.name%> (<%=x.cooking_time%>, <%=x.difficulty%>)</a></p>
<% end %>
<hr>

<a href="detail.erb">detail</a>
